<div class="content">
  <!---------- Title  ---------->
  <div class="title">
    <h1>Categories</h1>
  </div>

  <!---------- Add new category button  ---------->
  <div class="add-category-button">
    <button mat-raised-button color="accent" type="button" routerLink="new">
      Create new category
    </button>
  </div>

  <!---------- Loading  ---------->
  <mat-spinner *ngIf="!dataSource.data.length" class="spinner"></mat-spinner>

  <!---------- Table  ---------->
  <div
    class="categories-table mat-elevation-z8"
    [style.display]="dataSource.data.length ? 'block' : 'none'"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="id"
      matSortDirection="asc"
      (matSortChange)="announceSortChange($event)"
    >
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by id"
        >
          Id.
        </th>
        <td mat-cell *matCellDef="let category">{{ category.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let category">{{ category.name }}</td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by color"
        >
          Color
        </th>
        <td mat-cell *matCellDef="let category">{{ category.color }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let category">
          <!-- Edit -->
          <button
            mat-icon-button
            routerLink="{{ category.id }}/update"
            aria-label="Icon button with a pencil"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Transactions -->
          <button
            mat-icon-button
            aria-label="Icon button with a trash can"
            routerLink="{{ category.id }}/transactions"
          >
            <mat-icon>local_atm</mat-icon>
          </button>

          <!-- Delete -->
          <button
            mat-icon-button
            color="warn"
            aria-label="Icon button with a trash can"
            (click)="deleteCategory(category.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of categories"
    >
    </mat-paginator>
  </div>
</div>
