<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="transactions">
        <mat-icon>local_atm</mat-icon>
        Transactions
      </a>
      <a mat-list-item routerLink="categories">
        <mat-icon>category</mat-icon>
        Categories
      </a>
      <a mat-list-item routerLink="payment-methods">
        <mat-icon>payment</mat-icon>
        Payment Methods
      </a>
      <a mat-list-item routerLink="vendors">
        <mat-icon>store</mat-icon>
        Vendors
      </a>
      <a mat-list-item routerLink="tags">
        <mat-icon>flag</mat-icon>
        Tags
      </a>
    </mat-nav-list>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
